# This file contains common pin mappings for the BIGTREETECH EBBCan
# Canbus board. To use this config, the firmware should be compiled for the
# STM32G0B1 with "8 MHz crystal" and "USB (on PA11/PA12)" or "CAN bus (on PB0/PB1)".
# The "EBB Can" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

[mcu EBBCan]
canbus_uuid: f85f71c071ab                           # correct

#####################################################################
##    TEMPERATURE SENSORS
#####################################################################
[temperature_sensor EBB36]                          # correct
sensor_type: temperature_mcu                        # correct
sensor_mcu: EBBCan                                  # correct

#####################################################################
##    ACCELEROMETER
#####################################################################
[adxl345]
cs_pin: EBBCan: PB12                                # correct
spi_software_sclk_pin: EBBCan: PB10                 # correct
spi_software_mosi_pin: EBBCan: PB11                 # correct
spi_software_miso_pin: EBBCan: PB2                  # correct
axes_map: x,y,z

#####################################################################
##    FANS
#####################################################################
## HOT END FAN on FAN1
[heater_fan hotend_fan]
heater: extruder                                    # correct
pin: EBBCan: PA0                                    # correct
max_power: 1.0                                      # correct
kick_start_time: 0.5                                # correct
heater_temp: 50.0                                   # correct
##  if you are experiencing back flow,
##  you can reduce fan_speed
# fan_speed: 1.0

## PRINT COOLING FAN on FAN2
[fan]
pin: EBBCan: PA1                                    # correct
kick_start_time: 0.25                               # correct
cycle_time: 0.010                                   # correct
off_below: 0.10                                     # correct

#[neopixel hotend_rgb]
#pin: EBBCan:PD3

#[filament_switch_sensor switch_sensor]
#switch_pin: EBBCan:PB4

#[filament_motion_sensor motion_sensor]
#switch_pin: ^EBBCan:PB3